body {
}

.container {
  width: 100%;
}

.jumbotron {
  padding: 50px;
  text-align: center;
}

.jumbotron img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
}

.jumbotron img.small {
  width: 100px;
  height: 100px;
}

.uppercase {
  text-transform: uppercase;
}

.label {
    margin-top: -30px;
}

.flex-box {
  display: flex;
  margin-top: 50px;
}

.flex-item {
  flex: 1;
  background: #fff;
}

.flex-item > p {
  font-size: 80px;
  margin: 15px auto;
}

nav {
  padding: 0 20px 10px;
}

.btn-block {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0;
  }
  nav a {
    font-size: 18px;
  }
  nav .brand-logo {
    width: 100%;
    text-align: center;
  }
  .jumbotron {
    padding: 50px 15px;
  }
  .flex-box {
    flex-direction: column;
  }
  .flex-item {
    margin-bottom: 25px;
  }
  .label {
    font-size: 18px;
    margin-top: -20px;
  }
  .flex-item > h5 {
    font-size: 18px;
  }
  .flex-item > p {
    font-size: 30px;
  }
}