body {
}

.container {
  width: 100%;
}

.jumbotron {
  padding: 0 50px 0;
  text-align: center;
}

.jumbotron img {
  width: 150px;
  height: 150px;
}

.jumbotron img.small {
  width: 100px;
  height: 100px;
}

.uppercase {
  text-transform: uppercase;
}

.label {
    margin-top: -30px;
}

.flex-box {
  display: flex;
  margin-top: 50px;
}

.flex-item {
  flex: 1;
  background: #fff;
}

.flex-item > p {
  font-size: 80px;
  margin: -25px auto 15px;
}

nav {
  padding: 0 20px 10px;
}

.tabs {
  box-shadow: none;
}

.tabs .tab {
  cursor: pointer;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(246,178,181,0.2);
}

.tabs .tab a.active {
  background-color: rgba(246,178,181,0.2);
  border-bottom: 3px solid #ee6e73;
}

.btn-block {
  width: 100%;
}

.small {
  font-size: 0.9em;
}

.flex-item > p.big {
  font-size: 11em;
  margin-top: -50px;
}

i.material-icons {
  font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
  .label {
    margin-top: -20px;
  }
  .flex-item > h5 {
    font-size: 16px;
  }
  .flex-item > p {
    font-size: 24px;
    margin: -10px auto 15px;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0;
  }
  nav a {
    font-size: 18px;
  }
  nav .brand-logo {
    width: 100%;
    text-align: center;
  }
  .tabs .tab a {
    padding: 0;
  }
  .jumbotron {
    padding: 0 15px;
  }
  .flex-sm-column {
    flex-direction: column;
  }
  .flex-item {
    margin-bottom: 25px;
  }
  .label {
    font-size: 18px;
    margin-top: -13px;
  }
  .flex-item > h5 {
    font-size: 18px;
  }
  .flex-item > p {
    font-size: 30px;
  }
  .flex-item > p.big {
    font-size: 7em;
  }
}