body {
}

.container {
  width: 100%;
}

.jumbotron {
  padding: 50px;
  text-align: center;
}

.jumbotron img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
}

.uppercase {
  text-transform: uppercase;
}

.flex-box {
  display: flex;
  margin-top: 50px;
}

.flex-item {
  flex: 1;
  background: #fff;
}

.flex-item > p {
  font-size: 80px;
  margin: 15px auto;
}

nav {
  padding: 0 20px 10px;
}

.btn-block {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0;
  }
  nav a {
    font-size: 18px;
  }
  .jumbotron {
    padding: 50px 25px;
  }
}